@font-face {
    font-family: 'SketchFabric';
    src: url('../font/SketchFabric.ttf');
   }
   
.sficon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'SketchFabric';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #428BCA;
}

.sficon-bring-forward:before {
  content: "q";
}

.sficon-send-backward:before {
  content: "w";
}

.sficon-bring-to-front:before {
  content: "e";
}

.sficon-send-to-back:before {
  content: "r";
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.sketchFabric {
  width: 900px;
  height: 600px
  padding: 15px;
  margin: 0 auto;
}

.navbar-nav > li > a.btn {
	padding-top: 6px;
	padding-bottom: 6px;
	color: #333333;
}

.navbar-nav > .btn-group {
	margin: 8px 6px;
}

.navbar-btn {
  margin-bottom: 0px;
  margin-top: 0px;
}

#toolBar {
	margin-bottom: 0px;
	border-radius: 4px 4px 0px 0px;
}

#toolBox {
	padding: 0;
	margin: 0;
	display: inline-block;
	float: left;
	height: 500px;
	background-color: #dddddd;
}

#toolBox > .btn-group-vertical > .btn {
	border-radius: 0;
	padding: 8px 12px;
	border-color: #E6E6E6;
}

#toolBox > .btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top: none;
}

.canvas-container {
	display: inline-block;
	float: left;
}

#palettesPanel {
	display: inline-block;
	width: 260px;
	height: 500px;
	background-color: #dddddd;
}


